<app-menu>
  <div class="contenedorBody" id="printSectionId">

    <h2>REPORTE ESTADISTICO</h2>

    <div class="contenedorChart">

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>CANTIDAD DE LINEAS POR ZONA</h3>
            <button mat-icon-button color="accent" (click)="lineaZona()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <canvas id="lineaZona">{{MyCharLineaZona}}</canvas>
        </mat-card>
      </div>

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>PERIODO</h3>
            <button mat-icon-button color="accent" (click)="openDialogPeriodo()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <canvas id="periodo">{{MyCharPeriodo}}</canvas>
        </mat-card>
      </div>

      

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>CANTIDAD DE ESTRUCTURAS POR LINEA</h3>
            <button mat-icon-button color="accent" (click)="lineasEstructuras()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <canvas id="Lineas_estructuras">{{myChartLineas}}</canvas>
        </mat-card>
      </div>

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>PROGRESO</h3>
            <button mat-icon-button color="accent" (click)="openDialogProgreso()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <canvas id="progreso">{{MyCharProgreso}}</canvas>
        </mat-card>
      </div>

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>ESTADO DE LÍNEAS</h3>
            <mat-form-field>
              <mat-select placeholder="Versiones">
                <mat-option *ngFor="let item of versiones" [value]="item.id" (click)="selecVersion(item.id)">
                  {{item.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="openLineaEstado()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <canvas id="LineasEstado">{{myChartLineasEstado}}</canvas>
        </mat-card>
      </div>

    </div>

    <div class="contenedorChart">
      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>INSPECCIÓN</h3>            
            <button mat-icon-button color="accent" (click)="openInpeccion()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <div class="contfecha">
            <mat-form-field appearance="fill" style="margin-right: 12px; max-width: 50%;">
              <mat-label>Inicio</mat-label>
              <input matInput [matDatepicker]="picker1" (dateChange)="inicio( $event)" disabled [formControl]="date2">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" style="max-width: 50%;">
              <mat-label>Fin</mat-label>
              <input matInput [matDatepicker]="picker2" (dateChange)="fin( $event)" disabled [formControl]="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <canvas id="INSPECCION">{{myChartInspeccion}}</canvas>
        </mat-card>
      </div>

      <div class="elementoChart">
        <mat-card>
          <div class="contCard">
            <h3>GUÍAS</h3>            
            <button mat-icon-button color="accent" (click)="openGuias()">
              <mat-icon> zoom_out_map</mat-icon>
            </button>
          </div>
          <div class="contfecha">
            <mat-form-field appearance="fill" style="margin-right: 12px; max-width: 50%;">
              <mat-label>Inicio</mat-label>
              <input matInput [matDatepicker]="picker3" (dateChange)="inicio2( $event)" disabled [formControl]="date2">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3 disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="fill" style="max-width: 50%;">
              <mat-label>Fin</mat-label>
              <input matInput [matDatepicker]="picker4" (dateChange)="fin2( $event)" disabled [formControl]="date">
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
              <mat-datepicker #picker4 disabled="false"></mat-datepicker>
            </mat-form-field>
          </div>
          <canvas id="GUIAS">{{myChartGuia}}</canvas>
        </mat-card>
      </div>
    </div>


  </div>
</app-menu>