<h2 mat-dialog-title>Edición {{fase.c_nombre}}</h2>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div mat-dialog-content class="contenedor">



    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_nombre" #c_nombre="ngModel"
        [(ngModel)]="fase.c_nombre"  required />
        <mat-hint class="error" *ngIf="!fase.c_nombre">Es requerido</mat-hint>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial
      [disabled]="!newForm.form.valid">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>