<app-menu>
  <div class="contenedorBody">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Filtros y Exportación de Datos
          </mat-panel-title>
          <mat-panel-description>
            Pulsar para desplegar las opciones
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="contenedorfiltro">
          <mat-form-field>
            <mat-select placeholder="Fases">
              <mat-option value="0" (click)='selectFase(0)'>
                -TODOS-
              </mat-option>
              <mat-option *ngFor="let fase of fases" [value]="fase.n_idgen_fase"
                (click)='selectFase(fase.n_idgen_fase)'>
                {{fase.c_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Departamentos">
              <mat-option value="0" (click)="selectDepartamento(0)">
                -TODOS-
              </mat-option>
              <mat-option value="-100" (click)="selectDepartamento(-100)">
                -SIN ASIGNAR-
              </mat-option>
              <mat-option *ngFor="let item of departamentos" [value]="item.n_idgen_departamento"
                (click)="selectDepartamento(item.n_idgen_departamento)">
                {{item.c_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Provincias">
              <mat-option value="0" (click)="selectProvincia(0)">
                -TODOS-
              </mat-option>
              <mat-option *ngFor="let item of provincias" [value]="item.n_idgen_provincia"
                (click)="selectProvincia(item.n_idgen_provincia)">
                {{item.c_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Distritos">
              <mat-option value="0" (click)="selectDistrito(0)">
                -TODOS-
              </mat-option>
              <mat-option *ngFor="let item of distritos" [value]="item.n_idgen_distrito"
                (click)="selectDistrito(item.n_idgen_distrito)">
                {{item.c_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-select placeholder="Centros Poblados">
              <mat-option value="0" (click)="selectCentroPoblado(0)">
                -TODOS-
              </mat-option>
              <mat-option *ngFor="let item of centropoblados" [value]="item.n_idgen_centropoblado"
                (click)="selectCentroPoblado(item.n_idgen_centropoblado)">
                {{item.c_nombre}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!--<mat-form-field>
            <mat-select placeholder="Año de Programación" (click)="selectAnnio(0)">
              <mat-option value="0" (click)="selectAnnio(0)">
                -TODOS-
              </mat-option>
              <mat-option *ngFor="let item of annios" [value]="item.n_annio"
                (click)="selectAnnio(item.n_annio)">
                {{item.n_annio}}
              </mat-option>
            </mat-select>
          </mat-form-field>-->
        </div>
        <mat-card-actions>
          <button mat-button color="primary" (click)="get_tabla();">FILTRAR</button>
        </mat-card-actions>
      </mat-expansion-panel>
    </mat-accordion>
    <br />
    <mat-toolbar color="accent" [hidden]="!ocultargrilla">
      <span>LISTA DE PROYECTOS EN SEGUIMIENTO</span>
      <span class="example-spacer"></span>
      <button title="Datos Generales de Proyectos" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
        (click)="descargarxls()">
        <mat-icon>get_app</mat-icon>
      </button>
      <app-exportalldata [n_idgen_fase]="n_idgen_fase" [iddepartamento]="iddepartamento" [idprovincia]="idprovincia"
        [iddistrito]="iddistrito" [idcentropoblado]="idcentropoblado"></app-exportalldata>

      <app-exportalldata2 [n_idgen_fase]="n_idgen_fase" [iddepartamento]="iddepartamento" [idprovincia]="idprovincia"
        [iddistrito]="iddistrito" [idcentropoblado]="idcentropoblado"></app-exportalldata2>

      <app-exportdatoadicional [idfase]="n_idgen_fase" [iddepartamento]="iddepartamento" [idprovincia]="idprovincia"
        [iddistrito]="iddistrito" [idcentropoblado]="idcentropoblado"></app-exportdatoadicional>

      <!--<app-exportbolsaproyecto [n_idgen_fase]="n_idgen_fase" [iddepartamento]="iddepartamento" [idprovincia]="idprovincia"
        [iddistrito]="iddistrito" [idcentropoblado]="idcentropoblado" [annio]="annio"></app-exportbolsaproyecto>-->
    </mat-toolbar>
    <mat-card [hidden]="!ocultargrilla">

      <mat-form-field>
        <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
      <table mat-table [dataSource]="tablaUsuarios" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="editar">
          <th mat-header-cell *matHeaderCellDef>
            <!--<button mat-icon-button color="accent" (click)="openDialog(null)">
              <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
            </button>-->
          </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="accent" (click)="openDialog(element)">
              <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="c_nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.c_nombreproyecto}} </td>
        </ng-container>

        <ng-container matColumnDef="c_codigocui">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código CUI </th>
          <td mat-cell *matCellDef="let element"> {{element.c_codigocui  }} </td>
        </ng-container>
        <ng-container matColumnDef="c_codigomem">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Código MEM </th>
          <td mat-cell *matCellDef="let element"> {{element.c_codigomem  }} </td>
        </ng-container>
        <ng-container matColumnDef="n_nrousuarios">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Pobl. Beneficiaria </th>
          <td mat-cell *matCellDef="let element"> {{element.nro_beneficiarios |number}} </td>
        </ng-container>
        <ng-container matColumnDef="n_nroviviendas">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Abonados Total </th>
          <td mat-cell *matCellDef="let element"> {{element.nro_usuarios|number}} </td>
        </ng-container>
        <ng-container matColumnDef="fase">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Fase Actual </th>
          <td mat-cell *matCellDef="let element"> {{element.c_fase}} </td>
        </ng-container>
        <ng-container matColumnDef="orden">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Orden </th>
          <td mat-cell *matCellDef="let element">
            <mat-form-field class="orden">
              <input matInput placeholder="" name="n_orden" #n_orden="ngModel" [(ngModel)]="element.n_orden" required
                (keydown.enter)="guardar_orden(element)" />
            </mat-form-field>
          </td>
        </ng-container>
        <ng-container matColumnDef="confi">
          <th mat-header-cell *matHeaderCellDef color="error"> Opciones </th>
          <td mat-cell *matCellDef="let element">
            <div class="conf">


              <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">


                <button mat-menu-item (click)="openDialogConfig(element)">
                  <mat-icon aria-label="Example icon-button with a heart icon">settings</mat-icon>
                  <span>Configuracíon de Tareas</span>
                </button>
                <button mat-menu-item (click)="situacion(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">info</mat-icon>
                  <span>Situación Actual</span>
                </button>
                <button mat-menu-item (click)="openDialogRegistro(element)">
                  <mat-icon aria-label="Example icon-button with a heart icon">today</mat-icon>
                  <span>Registro de Tareas</span>
                </button>
                <button mat-menu-item (click)="programa(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">timeline</mat-icon>
                  <span>Programación</span>
                </button>
                <button mat-menu-item (click)="cartafianza(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">post_add</mat-icon>
                  <span>Carta de Garantía</span>
                </button>
                <button mat-menu-item (click)="detalleproyecto(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">search</mat-icon>
                  <span>Detalle</span>
                </button>
                <button mat-menu-item (click)="lineatiempohistorico(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">double_arrow</mat-icon>
                  <span>Línea de Tiempo</span>
                </button>

                <button mat-menu-item (click)="generaralldataproyecto_x_codmem(element)"
                  matTooltip="Descargar datos del proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">list_alt</mat-icon>
                  <span>Datos Proyecto</span>
                </button>

                <button mat-menu-item (click)="curvas(element)">
                  <mat-icon aria-label="Example icon-button with a heart icon">trending_up</mat-icon>
                  <span>Curva S</span>
                </button>
                <!-- <button mat-menu-item (click)="acceso(element)"
                  matTooltip="Permitir que otros usuarios vean este proyecto">
                  <mat-icon aria-label="Example icon-button with a heart icon">person</mat-icon>
                  <span>Asignar Usuarios</span>
                </button>-->
                <button mat-menu-item (click)="eliminar(element)">
                  <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                  <span>Eliminar</span>
                </button>
              </mat-menu>

            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
          <tr mat-row></tr>
        </ng-template>
      </table>
      <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
    </mat-card>
    <mat-card [hidden]="ocultargrilla">
      <button mat-icon-button color="accent" (click)="ocultar()">
        <mat-icon matSuffix color="accent">keyboard_backspace</mat-icon>
      </button>
      <app-proyectoregistro></app-proyectoregistro>
    </mat-card>
  </div>
</app-menu>