<div class="contenedorBody">
  <h2> LISTA DE TAREAS</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="back-expansion">
        <mat-panel-title>
          <mat-icon matSuffix>filter_list</mat-icon> Filtros
        </mat-panel-title>
        <mat-panel-description>
          Filtrado de datos en la lista
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="contenedor">
        <mat-form-field>
          <mat-select placeholder="Fases">
            <mat-option value="0" (click)='selectFase(0)'>
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let fase of fases" [value]="fase.n_idgen_fase" (click)='selectFase(fase.n_idgen_fase)'>
              {{fase.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="Actividades">
            <mat-option value="0" (click)='selectActividad(0)'>
              -TODOS-
            </mat-option>
            <mat-option *ngFor="let actividad of actividades" [value]="actividad.n_idgen_actividad"
              (click)='selectActividad(actividad.n_idgen_actividad)'>
              {{actividad.c_descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <br />
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (click)="guardar(null)"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let element">
          <mat-checkbox (click)="guardar(element)" [(ngModel)]="element.b_flag"></mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="c_descripcion">
        <th mat-header-cell *matHeaderCellDef color="error"> Nro. </th>
        <td mat-cell *matCellDef="let element"> {{element.c_descripcion}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
        <tr mat-row></tr>
      </ng-template>
    </table>
    <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
  </mat-card>

</div>