<h2>{{c_nombreproyecto}}</h2>
<mat-tab-group>
  <mat-tab *ngFor="let tab of fases; let index = index" [label]="tab.c_nombre">
    <mat-horizontal-stepper [linear]="false" #stepper>
      <mat-step *ngFor="let step of tab.actividades; let index = index">
        <ng-template matStepLabel > <span (click)="changetab(step.tareas)" >{{step.c_valoractividad}}</span></ng-template>
        <h4>{{step.c_valoractividad}}</h4>
        <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="botones">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <p style="color: black;"><strong>Estado </strong></p>
            </th>
            <td mat-cell *matCellDef="let element" style="font-size: 10px;">
              <button mat-icon-button color="accent" (click)="openDialogTareaRegistro(element)">
                <mat-icon matSuffix color="accent" *ngIf="element.n_estado==0">edit</mat-icon>
                <mat-icon matSuffix color="accent" *ngIf="element.n_estado==1">check</mat-icon>
              </button>
              <mat-icon matSuffix color="accent" *ngIf="element.b_hitocontrol==true">remove_red_eye</mat-icon>
            </td>
          </ng-container>
          <ng-container matColumnDef="tarea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <p style="color: black;"><strong>Tarea </strong></p>
            </th>
            <td mat-cell *matCellDef="let element">
              <p *ngIf="element.n_posicion==0"> {{element.c_descripciontarea}}</p>
              <p *ngIf="element.n_posicion>0">{{element.c_descripciontarea}} {{element.n_posicion}}</p>
            </td>
          </ng-container>
        
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
            <tr mat-row></tr>
          </ng-template>
        </table>


        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-tab>
</mat-tab-group>