
    <div class="contenedorBody">
        <mat-card>
            <div class="contenedor">

                <mat-form-field>
                    <mat-select placeholder="Años" [(value)]="nombre_anio">
                        <mat-option *ngFor="let anio of anios" [value]="anio" (click)='diasEnUnMes()'>
                            {{anio}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <mat-select placeholder="Meses" [(value)]="id_mes">
                        <mat-option *ngFor="let mes of meses" [value]="mes.id" (click)='diasEnUnMes()'>
                            {{mes.mes}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <table>
                <tr>
                    <td *ngFor="let semana of nombre_semanas" style="width: 14.28%;">
                        <p> <strong> {{semana}}</strong></p>
                    </td>
                </tr>
                <tr *ngFor="let semana of semanas">

                    <td *ngFor="let dia of semana.dias" style="width: 14.28%;">
                        <div *ngIf="!dia.b_esferiado">
                            <button mat-mini-fab aria-label="Example icon button with a home icon" color="accent"
                                *ngIf="dia.n_dia>0" (click)="saveferiado(dia.n_dia);">
                                {{dia.n_dia}}
                            </button>
                        </div>
                        <div *ngIf="dia.b_esferiado">
                            <button mat-mini-fab aria-label="Example icon button with a home icon" color="warn"
                                *ngIf="dia.n_dia>0" (click)="saveferiado(dia.n_dia);">
                                {{dia.n_dia}}
                            </button>
                        </div>
                    </td>
                </tr>
            </table>

        </mat-card>
    </div>
