<h2 mat-dialog-title>Asignar Usuario</h2>

<mat-card>
    <form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(shoes._value)">
        <mat-selection-list #shoes class="tamano">
            <mat-list-option *ngFor="let shoe of ProUser" [value]="shoe.n_idseg_userprofileusu" [selected]="shoe.b_activo">
                {{shoe.c_username}}
            </mat-list-option>
        </mat-selection-list>
        <div mat-dialog-actions>
            <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
                <mat-icon>save</mat-icon>
                <span>Guardar</span>
            </button>
        </div>
    </form>
</mat-card>