<div class="contenedorBody">
    <h2> CARTA GARANTIA</h2>
    <mat-form-field class="control-short">
        <mat-select placeholder="Fase" [(value)]="n_idgen_fase">
            <mat-option value="0" (click)='selectFase()'>
                TODOS
            </mat-option>
            <mat-option *ngFor="let item of fases" [value]="item.n_idgen_fase" (click)='selectFase()'>
                {{item.c_nombre}}
            </mat-option>
        </mat-select>

    </mat-form-field>
    <mat-card *ngIf="f_edit">
        <form class="example-container" #newForm="ngForm" (ngSubmit)="save(newForm)">
            <div class="contenedor">
                <mat-form-field class="control-short">
                    <input matInput placeholder="Nro. Documento" name="c_nro_documento" #c_nro_documento="ngModel"
                        [(ngModel)]="carta.c_nro_documento" required />
                    <mat-hint class="error" *ngIf="!carta.c_nro_documento">Es requerido</mat-hint>
                </mat-form-field>
                <mat-form-field class="control-short">
                    <input matInput placeholder="Entidad" name="c_entidad" #c_entidad="ngModel"
                        [(ngModel)]="carta.c_entidad" required />
                    <mat-hint class="error" *ngIf="!carta.c_entidad">Es requerido</mat-hint>
                </mat-form-field>
                <div class="control-short">
                    <mat-form-field class="control-ruta">
                        <input matInput placeholder="Ruta" name="c_ruta" #c_ruta="ngModel" [(ngModel)]="carta.c_ruta"
                             [disabled]="true" />
                   
                    </mat-form-field>
                    <input id="file" #fileInput hidden type='file' (change)="uploadfile($event.target.files)">
                    <button mat-mini-fab type="button" color="accent" (click)="fileInput.click()" color="accent">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent" type="button" aria-label="Example icon button with a plus one icon"
                        style="margin-left: 10px;" (click)="download(carta.c_ruta)">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </div>
                <mat-form-field class="control-short">
                    <input (keypress)="decimalOnly($event)" matInput placeholder="Monto" name="n_monto" #n_monto="ngModel" [(ngModel)]="carta.n_monto"
                        required />
                    <mat-hint class="error" *ngIf="!carta.n_monto">Es requerido</mat-hint>
                </mat-form-field>

                <mat-form-field class="control-short">
                    <mat-label>Fecha de Emision</mat-label>
                    <input matInput [matDatepicker]="pickerprogramada" (dateChange)="setfechaemision($event)"
                        [formControl]="dateemision">
                    <mat-datepicker-toggle matSuffix [for]="pickerprogramada"></mat-datepicker-toggle>
                    <mat-datepicker #pickerprogramada></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="control-short">
                    <mat-label>Fecha Vencimiento</mat-label>
                    <input matInput [matDatepicker]="pickerreal" (dateChange)="setfechaavance($event)"
                        [formControl]="datevencimiento">
                    <mat-datepicker-toggle matSuffix [for]="pickerreal"></mat-datepicker-toggle>
                    <mat-datepicker #pickerreal></mat-datepicker>
                </mat-form-field>

                <mat-form-field class="control-short">
                    <mat-select placeholder="Fase" [(value)]="carta.n_idgen_fase">
                        <mat-option *ngFor="let item of fases" [value]="item.n_idgen_fase">
                            {{item.c_nombre}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="error" *ngIf="!carta.n_idgen_fase">Es requerido</mat-hint>
                </mat-form-field>

                <mat-form-field class="control-short">
                    <mat-select placeholder="Tipo de Carta" [(value)]="carta.n_idgen_tipocarta">
                        <mat-option *ngFor="let item of tipocartas" [value]="item.n_idgen_tipocarta">
                            {{item.c_valor}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="error" *ngIf="!carta.n_idgen_tipocarta">Es requerido</mat-hint>
                </mat-form-field>

                <mat-form-field class="control-short">
                    <mat-select placeholder="Estado" [(value)]="carta.c_estado">
                        <mat-option *ngFor="let item of estados" [value]="item">
                            {{item}}
                        </mat-option>
                    </mat-select>
                    <mat-hint class="error" *ngIf="!carta.c_estado">Es requerido</mat-hint>
                </mat-form-field>
                <mat-form-field class="control-large">
                    <input matInput placeholder="Observación" name="c_observaciones" #c_observaciones="ngModel"
                        [(ngModel)]="carta.c_observaciones" />
                </mat-form-field>
            </div>
            <div mat-dialog-actions>
                <button mat-button type="submit" [disabled]="!newForm.form.valid || carta.n_idgen_fase==0 || carta.n_idgen_tipocarta==0 || carta.c_estado==''">
                    <mat-icon>save</mat-icon>
                    <span>Guardar</span>
                </button>
                <button mat-button type="button" (click)="cerrar()">
                    <mat-icon>cancel</mat-icon>
                    <span>Cancelar</span>
                </button>
            </div>
        </form>
    </mat-card>


    <mat-card *ngIf="!f_edit">
        <mat-form-field>
            <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef> <button mat-icon-button color="accent" (click)="edit()">
                        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                    </button> </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="accent" (click)="edit(element)">
                        <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                    </button>
                </td>
            </ng-container>
            <ng-container matColumnDef="nroducumento">
                <th mat-header-cell *matHeaderCellDef color="error"> Nro. Documento </th>
                <td mat-cell *matCellDef="let element">
                    {{element.c_nro_documento}}
                </td>
            </ng-container>
            <ng-container matColumnDef="entidad">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Entidad </th>
                <td mat-cell *matCellDef="let element">
                    {{element.c_entidad}}
                </td>
            </ng-container>
            <ng-container matColumnDef="monto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Monto </th>
                <td mat-cell *matCellDef="let element">
                    {{element.n_monto|number}}
                </td>
            </ng-container>
            <ng-container matColumnDef="fechaemision">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Emisión </th>
                <td mat-cell *matCellDef="let element">
                    {{element.d_fechaemision|date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="fechavencimiento">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fec. Vencimiento </th>
                <td mat-cell *matCellDef="let element">
                    {{element.d_fechavence|date: 'dd/MM/yyyy'}}
                </td>
            </ng-container>
            <ng-container matColumnDef="estado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado </th>
                <td mat-cell *matCellDef="let element">
                    {{element.c_estado}}
                    <div *ngIf="element.n_alerta == 1" >
                        <mat-icon aria-label="Example icon-button with a heart icon">warning</mat-icon>
                    </div>
                </td>
                
            </ng-container>
            <!-- Button Eliminar -->
            <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button color="error" (click)="comfirm_delete(element)">
                        <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                    </button>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
                <tr mat-row></tr>
            </ng-template>
        </table>
        <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
    </mat-card>
</div>