<div class="fondologin"></div>
<div class="grad"></div>
<div class="cuerpo">
  <mat-toolbar color="primary" class="mat-elevation-z8 barra">SOL REDES 2.0</mat-toolbar>
  <br />
  <h1 class="titulologin">Herramienta para construccíon y supervisión de proyectos de electrificación rural </h1>
  <div class="login-contenedor">
    <mat-card class="example-card">

      <mat-card-header>
        <h1>Acceso</h1>
      </mat-card-header>
      <mat-card-content>
        <!--<div class="img">
            <img src="../../../../assets/images/user1.png" >
          </div>   -->
        <form class="example-container" #newForm="ngForm" (ngSubmit)="login(newForm)">

          <mat-form-field class="example-full-width">
            <mat-label>Usuario</mat-label>
            <input matInput name="c_username" #c_username="ngModel" [(ngModel)]="dataLogin.c_username" required>
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput type="{{typepassword}}" name="c_clave" #c_clave="ngModel" [(ngModel)]="dataLogin.c_clave"
              required />
            <mat-icon matSuffix (click)="changetipepassword()">{{iconpassword}}</mat-icon>
          </mat-form-field>
          <div class="submitload">
            <button mat-raised-button *ngIf="!flag" type="submit" color="primary" mat-button
              matTooltip="Permite acceder a la plataforma" [disabled]="!newForm.form.valid" class="btnicon">

              <span>Ingresar</span>

            </button>
            <mat-spinner *ngIf="flag"></mat-spinner>
          </div>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <label class="errorLogin" *ngIf="!resultado">{{resultado.cMensaje}}</label>
      </mat-card-actions>
    </mat-card>
      <button mat-raised-button *ngIf="!flag" type="submit" color="primary" mat-button class="float" (click)="openDialog()">
        Versiones
      </button>
  </div>  
</div>
