/*.mat-elevation-z4{
  background-color: white;

}
 .fondologin{
  height: 100%;
  width: auto;
  margin-top: -1px;
  padding: 0%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../../../assets/images/fondologin3.jpg');
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.example-card {
  max-width: 450px;
  widows:450px;
  min-width: 300px;

 }
 .login-contenedor{

   height: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
 }
 .submitload{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .errorLogin{
   color: red;
   
 }
.example-container {
   width: 100%;
  display: flex;
  flex-direction: column;
}
.titulologin{
  margin: 0 0 24px;
  font-size: 32dp;
  font-weight: 900;
  line-height: 35px;
  text-shadow: 0 4px 4px rgba(0,0,0,.22);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin: 10px;
  
}
.imglogo1{
  width: 200px;
  margin-left: 2px;
  height: auto;
}
.imglogo2{
  width: 35px;
  height: auto;
  margin-left: 12px;
}
.imglogo3{
  width: 25px;
  height: auto;
  margin-left: 12px;
}
.titulo{
  color: #3f51b5;
}
.mat-toolbar {
  position: relative;
}
.cuerpo{
  height: 100%;
}

.mat-toolbar.mat-primary{
  color: white;
}*/

/********************************************/

.barra{
  background-color: #E12836;
}

.mat-elevation-z4{
  background-color: white;
  
}
 .fondologin{
  height: 94%;
  width: auto;
  margin-top:-1px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url('../../../../assets/images/MINEM.jpg');
  
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.example-card {
  
  align-content: center;
  background: transparent;  
  color: #fff;    
  left: 11%;
  width: 70%;
  height: 50%;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.6));
 }
 .example-full-width {
  width: 100%;
  color: #fff;
}

.login-contenedor{ 
    position: absolute;
    top: 25%;
    left: 40%;
    width: 20%;
    height: 50%;
    background: rgba(0,0,0,.5);
    filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.6));    
    border-radius: 10px;  
    align-content: center;
 
 }
 .submitload{
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .errorLogin{
   color: red;
   
 }
.example-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  
}
.example-container .mat-form-field + .mat-form-field {
  margin-top: 20px;
  margin-bottom: 20px;
  
}


.titulologin{
  margin: 0 0 24px;
  font-size: 32px;
  font-weight: 900;
  line-height: 35px;
  text-shadow: 0 4px 4px rgba(0,0,0,.22);
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin: 10px;
  
}
.imglogo1{
  width: 200px;
  margin-left: 2px;
  height: auto;
}
.imglogo2{
  width: 35px;
  height: auto;
  margin-left: 12px;
}
.imglogo3{
  width: 25px;
  height: auto;
  margin-left: 12px;
}
.titulo{
  color: #3f51b5;
}
.mat-toolbar {
  position: relative;
}
.cuerpo{
  height: 100%;
  
}

.mat-toolbar.mat-primary{
  color: white;
}

.img{
  display: flex;  
  justify-content: center; 

}

img{
  position: relative;
  width: 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btnicon{  
  border-radius: 4px;
  text-align: center;
  background: rgb(225, 40, 54);
  color: #fff;
  width: 60%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

mat-card-header{ 
  justify-content: center;
  position: relative;
  right: 20px;
  font-weight: 200;
  font-size: 15px;
  color: #fff;
}


input{
  border: none;
  border-left: 5px solid;
  background: none;
  border-color: rgb(225, 40, 54);
  
  color: #fff;
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;

  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input:focus{
  outline: 0;
  background: rgba(225, 40, 54,.2);
  border-radius: 30px;
  border-color: transparent;
  border-radius: 5px;
}

mat-label{
  position: absolute;
  left: 10px;
  color: #fff;
}
/******************************************************/
