.contenedor{
    max-height: 450px;
    
}

.scroll{
    overflow-y: scroll;
}

.error{
    color: red;
}

p{
    color: #000;
    margin-top: 7px;
    margin-bottom: 7px;
}
mat-card-title{
    font-size: 18px;
}

mat-card-subtitle{
    color: #000;
}

.btn{
    padding-top: 16px; 
    display: flex;
    flex-direction: row;
    justify-content: end;
}