<h1 mat-dialog-title>Versiones </h1>
<div class="">
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Version 1.0.1
                </mat-panel-title>
                <mat-panel-description>

                </mat-panel-description>
            </mat-expansion-panel-header>
            <p>Correción de carga de imagenes - Administración de Almacen y Guia</p>
            <p>Correción de carga de imagenes - Administración de Armado</p>
            <p>Correción de carga de imagenes - Administración de Proyectos</p>
            <p>Actualización de los filtros Administración de Usuarios, se añadio el filtro "Estado Asignación"</p>
        </mat-expansion-panel>
    </mat-accordion>
</div>