<h2>Versiones </h2>
<div class="contenedor">
    <mat-card>
        <mat-card-title>1.0.5</mat-card-title>
        <mat-card-subtitle>
            <p>Cambio de lógica en la importación - Importación de Planilla</p>
        </mat-card-subtitle>
        <mat-card-title>1.0.4</mat-card-title>
        <mat-card-subtitle>
            <p>Correción al asignar lineas a los usuarios - Administración de Grupos - Asignación de redes</p>
            <p>Se añadio un nuevo icono "SFV" Administración de Armado</p>
        </mat-card-subtitle>
        <mat-card-title>1.0.3</mat-card-title>
        <mat-card-subtitle>
            <p>Se redujo el tiempo de respuesta en el mapa general</p>
        </mat-card-subtitle>
        <mat-card-title>1.0.2</mat-card-title>
        <mat-card-subtitle>
            <p>Se agrego la opción de ver los dettalles del elemento en el mapa general</p>
        </mat-card-subtitle>
        <mat-card-title>1.0.1</mat-card-title>
        <mat-card-subtitle>
            <p>Correción de carga de imagenes - Administración de Almacen y Guia</p>
            <p>Correción de carga de imagenes - Administración de Armado</p>
            <p>Correción de carga de imagenes - Administración de Proyectos</p>
            <p>Actualización de los filtros Administración de Usuarios, se añadio el filtro "Estado Asignación"</p>
        </mat-card-subtitle>
    </mat-card>
</div>