agm-map {
    margin-top: 1%;
    min-height: 300px;
    height: 700px;
    max-height: 700px;
}

canvas {
    height: 400px;
}
.cuerpo{margin:2%;}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
  }
  .contenedorfiltro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  
  .contenedorBody {
    margin: 1%;
  }

  mat-card{
    margin-top: 10px;
  }