<h1 mat-dialog-title>Edición {{tipomontaje.c_nombre}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
    <div mat-dialog-content class="contenedor">

        <mat-form-field>
            <input matInput placeholder="Nombre" name="c_nombre" #c_username="ngModel"
                [(ngModel)]="tipomontaje.c_nombre" minlength="3" required />
            <mat-hint class="error" *ngIf="tipomontaje.c_nombre.length<3">debe tener mínimo de 3 dígitos</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Código" name="c_codigo" #c_username="ngModel"
                [(ngModel)]="tipomontaje.c_codigo" minlength="1" required />
            <mat-hint class="error" *ngIf="tipomontaje.c_codigo.length<1">debe tener mínimo de 1 dígitos</mat-hint>
        </mat-form-field>

    </div>
    
    <label style="opacity: 80%;" > 
        <div style="padding: 15px;">Ejemplo Código: LP_1</div>
    </label>

    <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>
</form>