<div class="contenedorBody">
    <mat-form-field>
        <mat-label>Generar Fechas Programadas</mat-label>
        <input matInput [matDatepicker]="pickerreal" (dateChange)="setfechafin($event)">
        <mat-datepicker-toggle matSuffix [for]="pickerreal"></mat-datepicker-toggle>
        <mat-datepicker #pickerreal></mat-datepicker>
        

    </mat-form-field>
    <button mat-icon-button color="accent" (click)="save()">
        <mat-icon aria-label="Example icon-button with a heart icon">alarm</mat-icon>
    </button>
</div>