<app-menu>

    <div class="contenedor">
        <img [src]="urlImagen" alt="IMG" style="max-height: 400px;width: 100%;">
        <h1>Módulos</h1>
        <div class="lista">
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Seguridad</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/seguridad.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Maestros</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/mantenimiento.jpeg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Asignación</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/asignacion.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Documentos</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/documentos.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Importación</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/importacion.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Mapa</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/mapa.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
            <mat-card class="example-card">
                <mat-card-title-group>
                    <mat-card-title>Almacén</mat-card-title>
                    <img mat-card-sm-image src="../../../../assets/modulo/almacen.jpg">
                </mat-card-title-group>
                <mat-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium nobis itaque distinctio
                    explicabo fugit voluptatum excepturi, quia laborum cumque quisquam optio sed quod earum vero
                    deserunt incidunt fuga quos blanditiis, repellendus rerum. Unde vitae illum cum voluptatibus, eius
                    excepturi sapiente?
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</app-menu>