<div *ngIf="tarea">
    <div class="contenedor">
        <mat-form-field>
            <mat-label>Fecha de Fin Programada</mat-label>
            <input matInput [matDatepicker]="pickerprogramada" (dateChange)="setfechainicio($event)" [formControl]="dateprogramada">
            <mat-datepicker-toggle matSuffix [for]="pickerprogramada"></mat-datepicker-toggle>
            <mat-datepicker #pickerprogramada></mat-datepicker>
        </mat-form-field>


        <mat-form-field>
            <mat-label>Fecha de Fin Real</mat-label>
            <input matInput [matDatepicker]="pickerreal" (dateChange)="setfechafin($event)" [formControl]="datefin">
            <mat-datepicker-toggle matSuffix [for]="pickerreal"></mat-datepicker-toggle>
            <mat-datepicker #pickerreal></mat-datepicker>
        </mat-form-field>
    </div>

    <table mat-table [dataSource]="tablaatributo" matSort *ngIf="datosadicionales">
        <ng-container matColumnDef="nombreatributo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p style="color: black;"><strong>Descripción </strong></p>
            </th>
            <td mat-cell *matCellDef="let element">
                <p style="color: blue;">{{element.c_dato  }} ({{element.c_unidad}})</p>
            </td>
        </ng-container>
        <ng-container matColumnDef="valoratributo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p style="color: black;"><strong>Valor del Archivo </strong></p>
            </th>
            <td mat-cell *matCellDef="let element">
                <div [hidden]="element.c_tipodato!='text'">
                    <mat-form-field style="margin-top: 10px; width: 100%;">
                        <input type="text" matInput placeholder="Ingrese {{element.c_dato}}" name="c_valor"
                            #c_valor="ngModel" [(ngModel)]="element.c_valor" maxlength="200" />
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </div>
                <div [hidden]="element.c_tipodato!='number'">
                        <mat-form-field style="margin-top: 10px; width: 100%;">
                            <input (keypress)="decimalOnly2($event)"  matInput
                                placeholder="Ingrese {{element.c_dato}}" name="c_valor" #c_valor="ngModel"
                                [(ngModel)]="element.c_valor" maxlength="200" (blur)="decimalValid2($event.target.value, element)"/>
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </div>
                <div [hidden]="element.c_tipodato!='date'">
                    <mat-form-field style="margin-top: 10px; width: 100%;">
                        <input type="number" (keypress)="numberOnly($event)" matInput
                            placeholder="Ingrese {{element.c_dato}}" name="c_valor" #c_valor="ngModel"
                            [(ngModel)]="element.c_valor" maxlength="200" />
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </div>
                <div [hidden]="element.c_tipodato!='file'">
                    <mat-form-field style="margin-top: 10px; width: 100%;">
                        <input  matInput
                            placeholder="Ingrese {{element.c_dato}}" name="c_valor" #c_valor="ngModel"
                            [(ngModel)]="element.c_valor" maxlength="200" />
                        <mat-icon matSuffix>mode_edit</mat-icon>
                    </mat-form-field>
                </div>
            </td>
        </ng-container>
        <ng-container matColumnDef="subir">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p style="color: black;"><strong>Archivo </strong></p>
            </th>
            <td mat-cell *matCellDef="let element">
                <div [hidden]="element.c_tipodato!='file'">
                    <input id="file" #fileInput hidden type='file' (change)="uploadfile($event.target.files,element)">
                    <button mat-mini-fab color="accent" (click)="fileInput.click()" color="accent">
                        <mat-icon>attach_file</mat-icon>
                    </button>
                    <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
                        style="margin-left: 10px;" (click)="download(element.c_valor)">
                        <mat-icon>get_app</mat-icon>
                    </button>
                </div>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumnsAtributo"></tr>
        <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumnsAtributo">
            <tr mat-row></tr>
        </ng-template>
    </table>
    <p [hidden]="datosadicionales.length!=0">No se registrarón tareas adicionales</p>
</div>
<mat-action-row>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="save(true);"
        color="accent">
        <mat-icon>save</mat-icon>
    </button>
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="save(false);"
        color="error">
        <mat-icon>next_week</mat-icon>
    </button>
</mat-action-row>