<app-menu>
    <div class="contenedorBody">
        <h2> CURVA S: {{c_nombreproyecto}}</h2>

        <mat-horizontal-stepper [linear]="false" #stepper>
            <mat-step>
                <ng-template matStepLabel>Ejecución de Obra</ng-template>
                <p [hidden]="b_graf1">No existen datos.</p>
                <div class="contenedorChart" [hidden]="!b_graf1">
                    <mat-card>
                        <table mat-table [dataSource]="tablagra1" matSort class="mat-elevation-z8 graf">
                            <ng-container matColumnDef="mesanio">
                                <th mat-header-cell *matHeaderCellDef color="error"> Mes Año </th>
                                <td mat-cell *matCellDef="let element"> {{element.mes_anio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="programado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Programado </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.programadoacumulado | currency: 'S/.' }} </td>
                            </ng-container>
                            <ng-container matColumnDef="avance">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contractual </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.contractualacumulado | currency: 'S/.'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsgra1"></tr>
                            <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumnsgra1">
                                <tr mat-row></tr>
                            </ng-template>
                        </table>
                    </mat-card>
                    <div class="elementoChart">
                        <mat-card>
                            <div class="contenedorChart">
                                <p class="programado">Programado</p>
                                <p class="ejecutado">Ejecutado</p>
                            </div>
                            <canvas id="graf1">{{chartgraf1}}</canvas>
                        </mat-card>
                    </div>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Supervisión</ng-template>
                <p [hidden]="b_graf2">No existen datos.</p>
                <div class="contenedorChart" [hidden]="!b_graf2">
                    <mat-card>
                        <table mat-table [dataSource]="tablagra2" matSort class="mat-elevation-z8 graf">
                            <ng-container matColumnDef="mesanio">
                                <th mat-header-cell *matHeaderCellDef color="error"> Mes Año </th>
                                <td mat-cell *matCellDef="let element"> {{element.mes_anio}} </td>
                            </ng-container>
                            <ng-container matColumnDef="programado">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Programado </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.programadoacumulado | currency: 'S/.' }} </td>
                            </ng-container>
                            <ng-container matColumnDef="avance">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Contractual </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.contractualacumulado | currency: 'S/.'}} </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumnsgra2"></tr>
                            <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumnsgra2">
                                <tr mat-row></tr>
                            </ng-template>
                        </table>
                    </mat-card>
                    <div class="elementoChart">
                        <mat-card>
                            <div class="contenedorChart">
                                <p class="programado">Programado</p>
                                <p class="ejecutado">Ejecutado</p>
                            </div>
                            <canvas id="graf2">{{chartgraf2}}</canvas>
                        </mat-card>
                    </div>
                </div>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</app-menu>