.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.error {
  color: red;
}

.mat-form-field {
  width: 240px;
}

table {
  width: 100%;
}

.mat-column-subir {
  width: 10%;
}

.spanfull {
  flex-wrap: wrap;
}