<div class="contenedor">
    <h2>{{tarea.c_descripciontarea}}</h2>
    <mat-form-field>
        <mat-select placeholder="Nro de Tareas" [(value)]="n_idpro_tareaproyecto">
            <mat-option *ngFor="let tareaproyecto of tareaproyectos" [value]="tareaproyecto.n_idpro_tareaproyecto"
                (click)="selectTarea(tareaproyecto)">
                {{tareaproyecto.c_descripciontarea}} {{tareaproyecto.n_posicion}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<mat-card>
    <app-tarearegistroguardar></app-tarearegistroguardar>
</mat-card>