table {
    width: 100%;
}

.btnborrar{
    
    background-color: red;
    /*height: 40px;*/
}

.contenido{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;  
  align-items: center;
}