table {
  width: 55%;
  text-align: center;
}
.contenedorBody {
  margin: 1%;
}
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.th-header {
  background-color: rgb(11, 7, 77);
  color: white;
}
.td-seccion {
  background-color: rgb(11, 7, 77);
  color: white;
  text-align: center;
}
.th-metradoreplanteo {
  background-color: rgb(165, 184, 245);
}
.th-poste {
  background-color: rgb(102, 187, 218);
}
.th-llegar {
  font-weight: 650;
}
.th-izar {
  background-color: rgb(220, 220, 114);
  font-weight: 650;
}
.th-izadopendiente {
  background-color: rgb(220, 220, 114);
  font-weight: 650;
  width: 20%;
}
.card-generic {
  display: flex;
  align-items: center;
  padding: 2%;
  height: 800px;
  overflow-y: scroll;
}

.card-button {
  text-align: center;
}

.card-grafico {
  width: 38%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}

