table {
  width: 100%;
}

.mat-column-insertar {
  max-width: 15px !important;
}

.mat-column-detalle {
  max-width: 15px !important;
}

.mat-column-zona {
  max-width: 50px !important;
}

.mat-column-fecha {
  max-width: 50px !important;
}

.mat-column-mes {
  min-width: 200px !important;
}

.mat-column-eliminar {
  max-width: 20px !important;
}

.mat-column-config {
  max-width: 20px !important;
}
