table {
    width: 100%;
  }
  .contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap:wrap
  }
  .contenedor mat-form-field{
    margin:1%;
  }
  .body{ 
    margin:1%;
  }
  .group{
    /*color: blue;*/
    font-weight: bold;
  }
  .mat-column-c_codigo {
    flex: 0 0 5% !important;
  }
  .mat-column-c_unidad {
    flex: 0 0 5% !important;
  }
  .mat-column-n_cantidad {
    flex: 0 0 10% !important;
  }
  .mat-column-estructuras {
    flex: 0 0 5% !important;
  }

  .cont2{
    width: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;  
  }

  .cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;  
  }
  