<app-menu>
    <div class="contenedorBody">
      <h2> {{tit}} </h2>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="back-expansion">
            <mat-panel-title>
              <mat-icon matSuffix>filter_list</mat-icon> Filtros
            </mat-panel-title>
            <mat-panel-description>
              Filtrado de datos en la lista
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="contenedor">
  
            <mat-form-field>
              <mat-select placeholder="Tipo Linea">
                <mat-option value="0" (click)='selectTipolinea(0)'>
                  -TODOS-
                </mat-option>
                <mat-option *ngFor="let lineat of tipolinea" [value]="lineat.n_idpl_tipolinea"
                  (click)='selectTipolinea(lineat.n_idpl_tipolinea)'>
                  {{lineat.c_nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field>
              <mat-select placeholder="Zonas">
                <mat-option value="0" (click)='selectCategorioaMontaje(0)'>
                  -TODOS-
                </mat-option>
                <mat-option *ngFor="let cat of categoriaMon" [value]="cat.n_idmon_categoriatipomontaje" (click)='selectCategorioaMontaje(cat.n_idmon_categoriatipomontaje)'>
                  {{cat.c_codigo+" "+cat.c_nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
  
        </mat-expansion-panel>
      </mat-accordion>
      <br />
      <mat-card>
        <mat-form-field>
          <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef> <button mat-icon-button color="accent" (click)="openDialog(null)" *ngIf="permisoEdit">
                <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
              </button> </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="accent" (click)="openDialog(element)" *ngIf="permisoEdit">
                <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
              </button>
            </td>
          </ng-container>

          <ng-container matColumnDef="c_codigo">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.c_codigo}} </td>
          </ng-container>
  
          <ng-container matColumnDef="c_nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.c_nombre }} </td>
          </ng-container>

          <ng-container matColumnDef="categoriaMon">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Montaje </th>
            <td mat-cell *matCellDef="let element"> {{element.nombrecat}} </td>
          </ng-container>          
  
          <ng-container matColumnDef="tipolinea">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Linea </th>
            <td mat-cell *matCellDef="let element"> {{element.nombretp}} </td>
          </ng-container> 

          <ng-container matColumnDef="c_unidadmedida">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Tipo Linea </th>
            <td mat-cell *matCellDef="let element"> {{element.c_unidadmedida}} </td>
          </ng-container>
  
          <!-- Button Eliminar -->
          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="error" (click)="eliminar(element)" *ngIf="permisoEdit">
                <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
            <tr mat-row></tr>
  
          </ng-template>
  
        </table>
  
        <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
      </mat-card>
    </div>
  </app-menu>