<app-menu>
    <div class="body">
        <h4>{{tit}}</h4>
        <br />
        <mat-form-field>
            <mat-select placeholder="Versiones">
                <mat-option *ngFor="let item of versiones" [value]="item.id" (click)="selecVersion(item.id)">
                    {{item.nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <br />
        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" placeholder="Upload file"
            accept=".xlsx" #fileInput [hidden]="true">


        <button mat-raised-button color="primary" (click)="fileInput.click()" class="boton" [disabled]="procesando">(0)Subir Archivo</button>
        <button mat-raised-button color="primary" (click)="conexionapi(1)" class="boton" [disabled]="procesando">(1)Estructuras</button>
        <button mat-raised-button color="primary" (click)="conexionapi(2)" class="boton" [disabled]="procesando">(2)Vanos</button>
        <button mat-raised-button color="primary" (click)="creargeom()" class="boton" [disabled]="procesando">(3)GEOM</button>
        <button mat-raised-button color="primary" (click)="download()" class="boton" >Descargar</button>
        <button mat-raised-button color="primary" (click)="deleteEstructuras()" class="btnborrar"> Borrar</button>

        <mat-progress-bar class="example-margin" mode="indeterminate" *ngIf="procesando">
        </mat-progress-bar>
        <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="ESTADO">
                <th mat-header-cell *matHeaderCellDef color="error"> ESTADO </th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button aria-label="Example icon-button with a heart icon" #tooltip="matTooltip"
                        [matTooltip]="element.c_mensaje" color="error" *ngIf="!element.b_flag">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Example icon-button with a heart icon"
                        [matTooltip]="element.c_mensaje" color="primary" *ngIf="element.b_flag" #tooltip="matTooltip">
                        <mat-icon>check</mat-icon>
                    </button>

                </td>
            </ng-container>
            <ng-container matColumnDef="LINEA">
                <th mat-header-cell *matHeaderCellDef color="error"> LINEA </th>
                <td mat-cell *matCellDef="let element"> {{element.LINEA}} </td>
            </ng-container>
            <ng-container matColumnDef="ESTRUCTURA">
                <th mat-header-cell *matHeaderCellDef color="error"> ESTRUCTURA </th>
                <td mat-cell *matCellDef="let element"> {{element.ESTRUCTURA}} </td>
            </ng-container>
            <ng-container matColumnDef="ESTRUCTURA_ANTERIOR">
                <th mat-header-cell *matHeaderCellDef color="error"> ESTRUCTURA_ANTERIOR </th>
                <td mat-cell *matCellDef="let element"> {{element.ESTRUCTURA_ANTERIOR}} </td>
            </ng-container>
            <ng-container matColumnDef="ARMADO_P">
                <th mat-header-cell *matHeaderCellDef color="error"> ARMADO_P </th>
                <td mat-cell *matCellDef="let element"> {{element.ARMADO_P}} </td>
            </ng-container>
            <ng-container matColumnDef="ARMADO_S">
                <th mat-header-cell *matHeaderCellDef color="error"> ARMADO_S </th>
                <td mat-cell *matCellDef="let element"> {{element.ARMADO_S}} </td>
            </ng-container>
            <ng-container matColumnDef="PROGRESIVA">
                <th mat-header-cell *matHeaderCellDef color="error"> PROGRESIVA </th>
                <td mat-cell *matCellDef="let element"> {{element.PROGRESIVA}} </td>
            </ng-container>
            <ng-container matColumnDef="VANO">
                <th mat-header-cell *matHeaderCellDef color="error"> VANO </th>
                <td mat-cell *matCellDef="let element"> {{element.VANO}} </td>
            </ng-container>
            <ng-container matColumnDef="T_TERRENO">
                <th mat-header-cell *matHeaderCellDef color="error"> T_TERRENO </th>
                <td mat-cell *matCellDef="let element"> {{element.T_TERRENO}} </td>
            </ng-container>
            <ng-container matColumnDef="S_CANTIDAD">
                <th mat-header-cell *matHeaderCellDef color="error"> S_CANTIDAD </th>
                <td mat-cell *matCellDef="let element"> {{element.S_CANTIDAD}} </td>
            </ng-container>
            <ng-container matColumnDef="S_TIPO">
                <th mat-header-cell *matHeaderCellDef color="error"> S_TIPO </th>
                <td mat-cell *matCellDef="let element"> {{element.S_TIPO}} </td>
            </ng-container>
            <ng-container matColumnDef="COOR_E">
                <th mat-header-cell *matHeaderCellDef color="error"> COOR_E </th>
                <td mat-cell *matCellDef="let element"> {{element.COOR_E}} </td>
            </ng-container>
            <ng-container matColumnDef="COOR_N">
                <th mat-header-cell *matHeaderCellDef color="error"> COOR_N </th>
                <td mat-cell *matCellDef="let element"> {{element.COOR_N}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
                <tr mat-row></tr>
            </ng-template>
        </table>
        <mat-paginator [pageSizeOptions]="[50,100,1000]" showFirstLastButtons></mat-paginator>
    </div>
</app-menu>