<h1 mat-dialog-title>Edición {{empresa.c_nombrecorto}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_nombrecorto" #c_username="ngModel" [(ngModel)]="empresa.c_nombrecorto"
        minlength="3" required />
      <mat-hint class="error" *ngIf="empresa.c_nombrecorto.length<3">debe tener mínimo de 3 dígitos</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="RUC" name="c_ruc" #c_username="ngModel" [(ngModel)]="empresa.c_ruc"
          length="11" required />
        <mat-hint class="error" *ngIf="empresa.c_ruc.length<11">debe tener 11 dígitos</mat-hint>
      </mat-form-field>
    
    <mat-form-field>
        <input matInput placeholder="Razon Social" name="c_razonsocial" #c_username="ngModel" [(ngModel)]="empresa.c_razonsocial"
          minlength="1" required />
        <mat-hint class="error" *ngIf="empresa.c_razonsocial.length<1">debe tener mínimo de 1 dígitos</mat-hint>
    </mat-form-field>   
    
  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial
      [disabled]="!newForm.form.valid||empresa.c_razonsocial.length<1">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>
