<h1 mat-dialog-title>Edición</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div fxLayout="row" fxFlexAlign="center" fxLayoutGap="10px">

    
    <mat-form-field fxFlex="32">
      <mat-select placeholder="periodo" [(value)]="cabecero.n_idgen_periodo" required>
        <mat-option *ngFor="let p of periodos" [value]="p.n_idgen_periodo">
          {{p.c_descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="32">
      <mat-select placeholder="zona" [(value)]="cabecero.n_idgen_zona" required>
        <mat-option *ngFor="let z of zonas" [value]="z.n_idpl_zona">
          {{z.c_nombre}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" fxFlex="32">
      <mat-label>Inicio</mat-label>
      <input matInput [matDatepicker]="picker1" name="fecha" #fecha="ngModel" [(ngModel)]="cabecero.d_fechacorte">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1 disabled="false"></mat-datepicker>
    </mat-form-field>

  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial [disabled]="!newForm.form.valid">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>