<div class="contenedorBody" id="printSectionId">
    <div class="contenedorChart">
        <div class="elementoChart">
            <mat-card>                
                <div class="contCard">
                    <h3>ESTADO DE LINEAS</h3>
                    <mat-form-field>
                        <mat-select placeholder="Versiones">
                            <mat-option *ngFor="let item of versiones" [value]="item.id" (click)="selecVersion(item.id)">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <canvas id="LineasEstados">{{myChartLineasEstado}}</canvas>       
            </mat-card>
          </div>
    </div>
</div>




