<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(shoes._value)">
    
    <h2 mat-dialog-title>Asignar Proyectos</h2>
    <mat-selection-list #shoes>
        <mat-list-option *ngFor="let shoe of UserPro" [value]="shoe.n_idpro_proyectopro" [selected]="shoe.n_borrado == 0">
                {{shoe.c_nombre}}
        </mat-list-option>          
    </mat-selection-list>
    <br>
    <div mat-dialog-actions>
        <button mat-button type="submit" cdkFocusInitial
            [disabled]="!newForm.form.valid">
            <mat-icon>save</mat-icon>
            <span>Guardar</span>
        </button>
    </div>

</form>
