<app-menu>
    <div class="contenedorBody">
        <h2> ADMINISTRACIÓN DE TRA_GRUPOS</h2>
        <br />
        <mat-card>
            <mat-form-field>
                <input matInput placeholder="Buscar" (keyup.enter)="onSelectBuscar($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
            
            <!--<table mat-table [dataSource]="tablaTraGrupos" matSort class="mat-elevation-z8">
                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef> <button mat-icon-button color="accent"
                            (click)="openDialog(null)" *ngIf="permisoEdit">
                            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
                        </button> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="accent" (click)="openDialog(element)" *ngIf="permisoEdit">
                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="c_nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.c_nombre }} </td>
                </ng-container>

                
                <ng-container matColumnDef="asigLinea">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Redes</th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDialogLinea(element)" color="accent" [disabled]="!permisoEdit">
                        <mat-icon aria-label="Example icon-button with a heart icon">playlist_add_check</mat-icon>
                    </button>
                    </td>
                </ng-container>

                
                <ng-container matColumnDef="asigUsuario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Usuarios</th>
                    <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="openDialogUsuarios(element)" color="accent" [disabled]="!permisoEdit">
                        <mat-icon aria-label="Example icon-button with a heart icon">playlist_add_check</mat-icon>
                    </button>
                    </td>
                </ng-container>

                
                <ng-container matColumnDef="eliminar">

                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Eliminar </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button color="error" (click)="eliminar(element)" [disabled]="!permisoEdit">
                            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
                    <tr mat-row></tr>

                </ng-template>

            </table>

            <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>-->
        </mat-card>
        <br>
        <div class="contenedor">
            <div *ngFor="let e of dataCard">
                <mat-card style="margin: 1%; max-width: 470px;">
                    <mat-card-header>
                        <div mat-card-avatar>
                            <mat-icon>event_note</mat-icon>
                        </div>
                        <mat-card-title>{{e.c_nombre}}</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="contentcard">
                            <ul class="mdc-list" style="padding-right: 30px;">
                                <li class="mdc-list-item">
                                    <p>Número de redes: {{e.nredes}} </p>
                                </li>
                            </ul>
                            <ul class="mdc-list">
                                <li class="mdc-list-item">
                                    <p>Número de usuarios: {{e.nusersactivo}} </p>
                                </li>
                            </ul>
                        </div>
                        <div class="contentBtn">
                            <button mat-stroked-button color="primary" (click)="openDialogLinea(e)" class="btncard">
                                Asignar redes
                                <mat-icon aria-label="Example icon-button with a heart icon">playlist_add_check
                                </mat-icon>
                            </button>
                            <button mat-stroked-button color="primary" (click)="openDialogUsuarios(e)" class="btncard">
                                Asignar Usuarios
                                <mat-icon aria-label="Example icon-button with a heart icon">playlist_add_check
                                </mat-icon>
                            </button>
                        </div>
                    </mat-card-content>
                    <mat-divider></mat-divider>
                    <mat-card-actions style="display: flex; flex-direction: row;">
                        <button mat-icon-button color="primary" (click)="openDialog(e)" *ngIf="permisoEdit">
                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                        </button>
                        <button mat-icon-button color="error" (click)="eliminar(e)" [disabled]="!permisoEdit">
                            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>

    </div>
    <button mat-fab color="" aria-label="Example icon button with a delete icon" class="btn-flotante"
        (click)="openDialog(null)">
        <mat-icon>add</mat-icon>
    </button>
</app-menu>