table {
    width: 100%;
  }
  
.contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.container_list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container_table{
  width: 100%;
}