<h1 mat-dialog-title>Filtro</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="buscarEstruct(newForm)">
    <div mat-dialog-content class="contenedor">

        <mat-form-field>
            <mat-select placeholder="Tipo Linea" [(value)]="idtipolinea" required>
                <mat-option *ngFor="let tlinea of tipolinea" [value]="tlinea.n_idpl_tipolinea">
                    {{tlinea.c_nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="zona" [(value)]="idzona" required>
                <mat-option *ngFor="let z of zona" [value]="z.n_idpl_zona" (click)="getLinea()">
                    {{z.c_nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Linea" [(value)]="idlinea" required [disabled]="!viewLinea">
                <mat-option *ngFor="let l of linea" [value]="l.n_idpl_linea">
                    {{l.c_codigo+' - '+l.c_nombre}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Buscar" name="c_buscar" #c_username="ngModel" [(ngModel)]="buscar"/>            
        </mat-form-field>
    </div>

    <mat-progress-bar mode="query" *ngIf="viewBar"></mat-progress-bar>
    <div mat-dialog-actions>

        <button mat-button type="submit" cdkFocusInitial
            [disabled]="(!newForm.form.valid || idlinea == 0) && (idzona == 0 || idtipolinea == 0)">
            <mat-icon>search</mat-icon>
            <span>Buscar</span>
        </button>
    </div>
</form>