.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap:wrap;
   
  }
  .error{
    color: red;
  }

  .tamano{
    max-height: 400px;
    overflow-y: scroll;
  }

  .contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;  
    align-items: center;
  }

  table {
    width: 100%;
}