<h1 mat-dialog-title>Edición {{guia.c_nombre}}</h1>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div mat-dialog-content class="contenedor">

    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_nombre" #c_username="ngModel" [(ngModel)]="guia.c_nombre"
        minlength="3" required />
      <mat-hint class="error" *ngIf="guia.c_nombre.length<3">debe tener mínimo de 3 dígitos</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="Direccion" placeholder="Direccion" name="c_direccion" #c_direccion="ngModel"  
        [(ngModel)]="guia.c_direccion" minlength="6" required/>
      <mat-hint class="error" *ngIf="guia.c_direccion.length<6">debe tener mínimo de 6 dígitos</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <mat-select placeholder="Almacen" [(value)]="guia.n_idalm_almacen" required>
          <mat-option *ngFor="let alma of almacen" [value]="alma.n_idalm_almacen">
            {{alma.c_nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>  
      
    <mat-form-field>
      <mat-select placeholder="Periodo" [(value)]="guia.n_idgen_periodo" required>
        <mat-option *ngFor="let per of periodos" [value]="per.n_idgen_periodo">
          {{per.c_descripcion}}
        </mat-option>
      </mat-select>
    </mat-form-field>   
    
    <mat-form-field>
        <input matInput placeholder="RUC" name="c_ruc" #c_username="ngModel" [(ngModel)]="guia.c_ruc"
          minlength="3" required />
        <mat-hint class="error" *ngIf="guia.c_ruc.length<3">debe tener mínimo de 3 dígitos</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Nro Guia" name="c_nroguia" #c_username="ngModel" [(ngModel)]="guia.c_nroguia"
          minlength="3" required />
        <mat-hint class="error" *ngIf="guia.c_nroguia.length<3">debe tener mínimo de 3 dígitos</mat-hint>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Nro Guia" name="c_observacion" #c_username="ngModel" [(ngModel)]="guia.c_observacion"
          minlength="3" required />
        <mat-hint class="error" *ngIf="guia.c_observacion.length<3">debe tener mínimo de 3 dígitos</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial
      [disabled]="!newForm.form.valid">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>

