table {
    width: 100%;
  }
  
  .contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .contenedorBody {
    margin: 1%;
  }

  .mat-column-fase {
    width: 50%;
  }
  .mat-column-check {
    width: 5%;
  }
  .mat-column-d_fecha {
    width: 20%;
  }
  .texto_grilla{
   font-size: 12px;
  }

 
  .error{
    color: red;
  }
.mat-form-field{
  width: 200px;
  margin: 5px;
}