<div class="contenedorBody">
  <h2> LISTA DE TAREAS</h2>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header class="back-expansion">
        <mat-panel-title>
          <mat-icon matSuffix>settings</mat-icon> Configuración de Tareas
        </mat-panel-title>
        <mat-panel-description>
          Utilizar una plantilla para configurar las tareas
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="contenedor">
        <mat-form-field>
          <mat-select placeholder="Plantilla" [(value)]="idplantilla">
            <mat-option *ngFor="let item of plantillas" [value]="item.n_idgen_tipoproyecto">
              {{item.c_nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <mat-card-actions>
        <button mat-button color="accent" (click)="gettarea()">Obtener Tareas</button>
      </mat-card-actions>
    </mat-expansion-panel>
  </mat-accordion>
  <br />
  <mat-card *ngIf="edit">

    <h4>Agregar Tarea</h4>
    <div class="contenedor">
      <mat-form-field>
        <mat-select placeholder="Fases" >
          <mat-option *ngFor="let fase of fases" [value]="fase.n_idgen_fase" (click)='selectFase(fase.n_idgen_fase)'>
            {{fase.c_nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Actividad">
          <mat-option *ngFor="let actividad of actividades" [value]="actividad.n_idgen_actividad"
            (click)='selectActividad(actividad.n_idgen_actividad)'>
            {{actividad.c_descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Tarea" [(value)]="tarea.n_idgen_tarea">
          <mat-option *ngFor="let tarea of tareas" [value]="tarea.n_idgen_tarea"
            (click)='selectTarea(tarea.n_idgen_tarea)'>
            {{tarea.c_descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input (keypress)="decimalOnly($event)" matInput placeholder="Ingrese Posición" name="n_posicion"
          #n_posicion="ngModel" [(ngModel)]="tarea.n_posicion" />
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>

   
        <mat-checkbox [(ngModel)]="tarea.b_diasferiados" class="texto_grilla"> Aplica Días Feriados</mat-checkbox>
      

      <mat-form-field >
        <input type="number" (keypress)="numberOnly($event)" matInput placeholder="Ingrese Duración"
          name="n_duracion" #n_duracion="ngModel" [(ngModel)]="tarea.n_duracion" maxlength="200"/>
        <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
    </div>
    <div mat-dialog-actions>
      <button mat-button cdkFocusInitial (click)="guardar()">
        <mat-icon color="accent">save</mat-icon>
        <span>Guardar</span>
      </button>
      <button mat-button cdkFocusInitial (click)="cancel()">
        <mat-icon color="error">cancel</mat-icon>
        <span>cancel</span>
      </button>
    </div>
  </mat-card>
  <br />
  <mat-card>
    <mat-form-field>
      <input matInput placeholder="Buscar" [(ngModel)]="textfilter" (keyup)="applyFilter($event.target.value)">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <table mat-table [dataSource]="tabla" matSort class="mat-elevation-z8">
      <ng-container matColumnDef="check">
        <th mat-header-cell *matHeaderCellDef> <button mat-icon-button color="accent" (click)="addTarea(null)">
            <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
          </button> </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="accent" (click)="addTarea(element)">
            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
          </button> 
        </td>
      </ng-container>
      <ng-container matColumnDef="fase">
        <th mat-header-cell *matHeaderCellDef color="error"> Fase </th>
        <td mat-cell *matCellDef="let element">
          <p class="texto_grilla">{{element.c_nombre}}</p>
          <p class="texto_grilla">{{element.c_valoractividad}}</p>
          <p class="texto_grilla">{{element.c_descripciontarea}}</p>
        </td>
      </ng-container>

      <ng-container matColumnDef="n_duracion">
        <th mat-header-cell *matHeaderCellDef color="error"> Detalle </th>
        <td mat-cell *matCellDef="let element">
          <p class="texto_grilla">Duración: {{element.n_duracion}}</p>
          <p class="texto_grilla">Posición: {{element.n_posicion}}</p>
          <p class="texto_grilla" *ngIf="element.b_diasferiados">Aplica Días Feriados</p>
         
        </td>
      </ng-container>

      <ng-container matColumnDef="d_fecha">
        <th mat-header-cell *matHeaderCellDef color="error"> Fecha </th>
        <td mat-cell *matCellDef="let element">
          <p class="texto_grilla">Fec. Fin</p>
          <p class="texto_grilla">{{element.d_fechafin | date: 'dd/MM/yyyy'}}</p>
          <p class="texto_grilla">Fec. Programada</p>
          <p class="texto_grilla">{{element.d_fechaprogramada | date: 'dd/MM/yyyy'}} </p>
        </td>
      </ng-container>
      <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="error" (click)="deleteTarea(element)">
            <mat-icon aria-label="Example icon-button with a heart icon">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumns">
        <tr mat-row></tr>
      </ng-template>
    </table>
    <mat-paginator [pageSizeOptions]="pagin" showFirstLastButtons></mat-paginator>
  </mat-card>
</div>