<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar class="mat-elevation-z4" color="primary" [ngStyle]="{'background-color': colorPro}"><label
                class="titulo">
                <button mat-button [routerLink]="['/proyectoseleccion']">
                    <mat-icon>edit</mat-icon>
                    <label class="titulo">
                        <span>{{proyecto.c_nombre}}</span>
                    </label>
                </button>
            </label></mat-toolbar>
        <!--último iditem = 27 -->
        <mat-nav-list>
            <mat-accordion>
                <mat-expansion-panel [expanded]="idPanel == 1" >
                    <mat-expansion-panel-header>
                        <mat-panel-title >
                            <mat-icon>supervisor_account</mat-icon>
                            Seguridad
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/usuario']" *ngIf="se_adusu" (click)="panel(1,1)" [ngClass]="{'select':iditem == 1}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Usuario</span>
                    </a>

                    <a mat-list-item [routerLink]="['/rol']" *ngIf="se_adrol" (click)="panel(1,2)" [ngClass]="{'select':iditem == 2}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Roles</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 2" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            Maestros
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <a mat-list-item [routerLink]="['/tipolinea']" *ngIf="ma_adtil" (click)="panel(2,3)" [ngClass]="{'select':iditem == 3}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Línea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/zonas']" *ngIf="ma_adzon" (click)="panel(2,4)" [ngClass]="{'select':iditem == 4}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Zona</span>
                    </a>

                    <a mat-list-item [routerLink]="['/confproyecto']" *ngIf="ma_adpro" (click)="panel(2,5)" [ngClass]="{'select':iditem == 5}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Proyecto</span>
                    </a>
                    <a mat-list-item [routerLink]="['/empresa']" *ngIf="ma_ademp" (click)="panel(2,6)" [ngClass]="{'select':iditem == 6}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Empresa</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipofoto']" *ngIf="ma_adtfo" (click)="panel(2,7)" [ngClass]="{'select':iditem == 7}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Foto</span>
                    </a>

                    <a mat-list-item [routerLink]="['/tipoempresa']" *ngIf="ma_adtie" (click)="panel(2,8)" [ngClass]="{'select':iditem == 8}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Empresa</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipoelemento']" *ngIf="ma_adtel" (click)="panel(2,9)" [ngClass]="{'select':iditem == 9}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Elemento</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipomontaje']" *ngIf="ma_adtmo" (click)="panel(2,10)" [ngClass]="{'select':iditem == 10}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Montaje</span>
                    </a>
                    <a mat-list-item [routerLink]="['/partidamontaje']" *ngIf="ma_adpmo" (click)="panel(2,25)" [ngClass]="{'select':iditem == 25}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Partidas de Montaje</span>
                    </a>
                    <a mat-list-item [routerLink]="['/valoresGenerales']" *ngIf="ma_advag" (click)="panel(2,11)" [ngClass]="{'select':iditem == 11}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Valores Generales</span>
                    </a>
                    <a mat-list-item [routerLink]="['/elemento']" *ngIf="ma_adele" (click)="panel(2,12)" [ngClass]="{'select':iditem == 12}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Elemento</span>
                    </a>
                    <a mat-list-item [routerLink]="['/armado']" *ngIf="ma_adarm" (click)="panel(2,13)" [ngClass]="{'select':iditem == 13}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Armado</span>
                    </a>
                    <a mat-list-item [routerLink]="['/periodo']" *ngIf="ma_adper" (click)="panel(2,24)" [ngClass]="{'select':iditem == 24}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Periodo</span>
                    </a>

                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="idPanel == 3" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>group_work</mat-icon>
                            Asignación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/tragrupos']" *ngIf="as_adgru" (click)="panel(3,14)" [ngClass]="{'select':iditem == 14}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Grupos</span>
                    </a>
                </mat-expansion-panel>

                <mat-expansion-panel [expanded]="idPanel == 4">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>file_copy</mat-icon>
                            Documentos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/AdmArchivos']" *ngIf="as_adarc" (click)="panel(4,15)" [ngClass]="{'select':iditem == 15}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Archivos</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 5" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>cloud_upload</mat-icon>
                            Importación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/importacionsuministros']" *ngIf="imp_impsu" (click)="panel(5,16)" [ngClass]="{'select':iditem == 16}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Suministro</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionmontaje']" *ngIf="imp_impmo" (click)="panel(5,17)" [ngClass]="{'select':iditem == 17}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Montaje</span>
                    </a>
                    <a mat-list-item [routerLink]="['/linea']" *ngIf="ma_adlin " (click)="panel(5,18)" [ngClass]="{'select':iditem == 18}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Línea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionlinea']" *ngIf="imp_impli" (click)="panel(5,19)" [ngClass]="{'select':iditem == 19}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Línea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionplanilla']" *ngIf="imp_imppl" (click)="panel(5,20)" [ngClass]="{'select':iditem == 20}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Planilla</span>
                    </a>

                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 6" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <!--<mat-icon>add_location</mat-icon>-->
                            <mat-icon>important_devices</mat-icon>
                            Monitoreo
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/mapageneral']" *ngIf="mo_mapge" (click)="panel(6,21)" [ngClass]="{'select':iditem == 21}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Mapa General</span>
                    </a>
                    <a mat-list-item [routerLink]="['/datosMonitoreo']" *ngIf="mo_datos" (click)="panel(6,26)" [ngClass]="{'select':iditem == 26}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Datos</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 7">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>home</mat-icon>
                            Almacén
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/almacen']" *ngIf="al_adalm" (click)="panel(7,22)" [ngClass]="{'select':iditem == 22}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de almacén y guía</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="idPanel == 8" >
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>bar_chart</mat-icon>
                            Reporte
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/grafico']" *ngIf="re_repor" (click)="panel(8,23)" [ngClass]="{'select':iditem == 23}">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Reporte</span>
                    </a>
                </mat-expansion-panel>
                <div *ngIf="iduserEdit">
                    <mat-expansion-panel [expanded]="idPanel == 9" >
                        <mat-expansion-panel-header >
                            <mat-panel-title>
                                <mat-icon>restore</mat-icon>
                                Versión
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <a mat-list-item [routerLink]="['/version']" *ngIf="ve_adver" (click)="panel(9,27)" [ngClass]="{'select':iditem == 27}">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                            <span>Versión</span>
                        </a>
                    </mat-expansion-panel>
                </div>
            </mat-accordion>
        </mat-nav-list>
        <div class="logo">
            <img [src]="urlImagen" alt="Logo" style="max-width: 100%; height: auto;">
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4" color="primary" [ngStyle]="{'background-color': colorPro}">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <div>

                <label style="font-size: 14px;">
                    {{date | date: "dd/MM/yyyy"}}
                    {{date | date: "HH:mm:ss"}}
                </label>
            </div>
            <span class="example-fill-remaining-space"></span>
            
            <button mat-button [matMenuTriggerFor]="usuario">
                <mat-icon >person</mat-icon>
                <label class="titulo">
                    <span>{{username}}-{{rol}}</span>
                </label>
            </button>         
            <mat-menu #usuario="matMenu">
                <button mat-menu-item (click)="descargarManual()">Guía</button>
                <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button>
                <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
            </mat-menu>
            <p>
                <button mat-button [matMenuTriggerFor]="notificacion" (click)="showNotificacion()">
                    <mat-icon [matBadge]="notif" matBadgeColor="warn">notifications</mat-icon>
                </button> 
            </p>
            <mat-menu #notificacion="matMenu" >
                <div *ngFor="let item of Arr">
                    <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{item.c_detalle}}</button>
                     <mat-menu #sub_menu="matMenu" >
                        <button *ngFor="let subItem of item.options" mat-menu-item>{{ subItem }}</button>
                     </mat-menu> 
                </div>                
            </mat-menu>
        </mat-toolbar>
        <!--Aquí va el contenido de los formularios-->
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>