<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar class="mat-elevation-z4" color="primary"><label class="titulo">SOLREDES V2 {{rol}}</label></mat-toolbar>
        <mat-nav-list>

            <a mat-list-item [routerLink]="['/usuario']" >
                <mat-icon>account_box</mat-icon>
                <span>Administración de Usuarios</span>
            </a>
            
            <a mat-list-item [routerLink]="['/rol']" >
                <mat-icon></mat-icon>
                <span>Administración de Roles</span>
            </a>                         
            <hr>
            <a mat-list-item [routerLink]="['/linea']" >
                <mat-icon></mat-icon>
                <span>Administración de Linea</span>
            </a>
            <a mat-list-item [routerLink]="['/tipolinea']" >
                <mat-icon></mat-icon>
                <span>Administración de Tipo Linea</span>
            </a>  
            <a mat-list-item [routerLink]="['/zona']" >
                <mat-icon></mat-icon>
                <span>Administración de Zona</span>
            </a>
            
            <a mat-list-item [routerLink]="['/confproyecto']" >
                <mat-icon></mat-icon>
                <span>Administración de Proyecto</span>
            </a>
            <a mat-list-item [routerLink]="['/empresa']" >
                <mat-icon></mat-icon>
                <span>Administración de Empresa</span>
            </a>            
            <a mat-list-item [routerLink]="['/tipofoto']" >
                <mat-icon></mat-icon>
                <span>Administración de Tipo Foto</span>
            </a>
            <a mat-list-item [routerLink]="['/estructura']" >
                <mat-icon></mat-icon>
                <span>Administración de Estructura</span>
            </a>
            
            <a mat-list-item [routerLink]="['/tipoempresa']" >
                <mat-icon></mat-icon>
                <span>Administración de Tipo Empresa</span>
            </a>
                      
            <a mat-list-item [routerLink]="['/bolsaproyecto']" >
                <mat-icon>local_mall</mat-icon>
                <span>Bolsa de Proyectos</span>
            </a>
            <a mat-list-item [routerLink]="['/graficobolsa']" >
                <mat-icon>dashboard</mat-icon>
                <span>Tablero Bolsa de Proyectos</span>
            </a>
            <hr>
            <a mat-list-item [routerLink]="['/grupo']" >
                <mat-icon>settings</mat-icon>
                <span>Gestión Configuraciones</span>
            </a>
            <a mat-list-item [routerLink]="['/proyecto']" >
                <mat-icon>dynamic_feed</mat-icon>
                <span>Seguimiento de Proyectos</span>
            </a>
            <a mat-list-item [routerLink]="['/mapa']" >
                <mat-icon>map</mat-icon>
                <span>Mapa de Monitoreo</span>
            </a>
            <a mat-list-item [routerLink]="['/lineatiempo']" >
                <mat-icon>trending_up</mat-icon>
                <span>Proyecto por Fases</span>
            </a>
            <a mat-list-item [routerLink]="['/grafico']" *ngIf="dashboard">
                <mat-icon>dashboard</mat-icon>
                <span>Tablero de Mando</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4" color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <div>
             
                <label style="font-size: 14px;">
                    {{date   | date: "dd/MM/yyyy"}}
                    {{date   | date: "HH:mm:ss"}}
                </label>
            </div>
            <span class="example-fill-remaining-space"></span>
            <button mat-button [matMenuTriggerFor]="usuario">
                <mat-icon>person</mat-icon>
                <label class="titulo">
                    <span>{{username}}</span>
                </label>
            </button>
            <mat-menu #usuario="matMenu">
                <button mat-menu-item (click)="descargarManual()">Guía</button>
                <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button>
                <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
            </mat-menu>
        </mat-toolbar>
        <!--Aquí va el contenido de los formularios-->
        <ng-content>
            
        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>