<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="!(isHandset$ | async)">
        <mat-toolbar class="mat-elevation-z4" color="primary" [ngStyle]="{'background-color': colorPro}"><label
                class="titulo">
                <button mat-button [routerLink]="['/proyectoseleccion']">
                    <mat-icon>edit</mat-icon>
                    <label class="titulo">
                        <span>{{proyecto.c_nombre}}</span>
                    </label>
                </button>
             

            </label></mat-toolbar>
        <mat-nav-list>
            <mat-accordion>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>supervisor_account</mat-icon>
                            Seguridad
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/usuario']" *ngIf="se_adusu">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Usuario</span>
                    </a>

                    <a mat-list-item [routerLink]="['/rol']" *ngIf="se_adrol">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Roles</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel [expanded]="step === 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>settings</mat-icon>
                            Maestros
                        </mat-panel-title>
                    </mat-expansion-panel-header>

                    <a mat-list-item [routerLink]="['/tipolinea']" *ngIf="ma_adtil ">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Linea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/zonas']" *ngIf="ma_adzon">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Zona</span>
                    </a>

                    <a mat-list-item [routerLink]="['/confproyecto']" *ngIf="ma_adpro">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Proyecto</span>
                    </a>
                    <a mat-list-item [routerLink]="['/empresa']" *ngIf="ma_ademp">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Empresa</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipofoto']" *ngIf="ma_adtfo">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Foto</span>
                    </a>

                    <a mat-list-item [routerLink]="['/tipoempresa']" *ngIf="ma_adtie">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Empresa</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipoelemento']" *ngIf="ma_adtel">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Elemento</span>
                    </a>
                    <a mat-list-item [routerLink]="['/tipomontaje']" *ngIf="ma_adtmo">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Tipo Montaje</span>
                    </a>
                    <a mat-list-item [routerLink]="['/valoresGenerales']" *ngIf="ma_advag">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Valores Generales</span>
                    </a>
                    <a mat-list-item [routerLink]="['/elemento']" *ngIf="ma_adele">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Elemento</span>
                    </a>
                    <a mat-list-item [routerLink]="['/armado']" *ngIf="ma_adarm">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Armado</span>
                    </a>

                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>group_work</mat-icon>
                            Asignación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/tragrupos']" *ngIf="as_adgru">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Grupos</span>
                    </a>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>file_copy</mat-icon>
                            Documentos
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/AdmArchivos']" *ngIf="as_adarc">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Archivos</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>cloud_upload</mat-icon>
                            Importación
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/importacionsuministros']" *ngIf="imp_impsu">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Suministro</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionmontaje']" *ngIf="imp_impmo">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de Montaje</span>
                    </a>
                    <a mat-list-item [routerLink]="['/linea']" *ngIf="ma_adlin ">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de Linea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionlinea']" *ngIf="imp_impli">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de linea</span>
                    </a>
                    <a mat-list-item [routerLink]="['/importacionplanilla']" *ngIf="imp_imppl">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Importación de planilla</span>
                    </a>

                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>add_location</mat-icon>
                            Mapa
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/mapageneral']" *ngIf="ma_mapge">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Mapa General</span>
                    </a>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon>home</mat-icon>
                            Almacén
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-list-item [routerLink]="['/almacen']" *ngIf="al_adalm">
                        <mat-icon>keyboard_arrow_right</mat-icon>
                        <span>Administración de almacén y guía</span>
                    </a>
                </mat-expansion-panel>
            </mat-accordion>
        </mat-nav-list>
        <div class="logo">
            <img [src]="urlImagen" alt="Logo" style="width: 150px; width: 150px;">
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar class="mat-elevation-z4" color="primary" [ngStyle]="{'background-color': colorPro}">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                *ngIf="isHandset$ | async">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>

            <div>

                <label style="font-size: 14px;">
                    {{date | date: "dd/MM/yyyy"}}
                    {{date | date: "HH:mm:ss"}}
                </label>
            </div>
            <span class="example-fill-remaining-space"></span>
            <button mat-button [matMenuTriggerFor]="usuario">
                <mat-icon>person</mat-icon>
                <label class="titulo">
                    <span>{{username}}-{{rol}}</span>
                </label>
            </button>
            <mat-menu #usuario="matMenu">
                <button mat-menu-item (click)="descargarManual()">Guía</button>
                <button mat-menu-item (click)="openDialogClave()">Cambiar Contraseña</button>
                <button mat-menu-item (click)="logoff()">Cerrar Sesión</button>
            </mat-menu>
        </mat-toolbar>
        <!--Aquí va el contenido de los formularios-->
        <ng-content>

        </ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>