.sidenav-container {
    height: 100%;
    
  }
 
  .example-fill-remaining-space {
    flex: 1 1 auto;
  }
  .imglogo1{
    width: 200px;
    margin-left: 2px;
    height: auto;
  }
  .imglogo2{
    width: 35px;
    height: auto;
    margin-left: 12px;
  }
  .imglogo3{
    width: 25px;
    height: auto;
    margin-left: 12px;
  }

  .mat-toolbar.mat-primary{
    color: white;
  }

  .sidenav{
    width: 386px;
  }

  .logo{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
    margin-top: 50%;
  }
  
  .barra{
    background-color: #e65100;
  }

  mat-icon{
    margin-right: 7px;
  }

  mat-panel-title{
    align-items: center;
  }