<mat-card>
    <h2>{{"["+armado.c_codigo +"] "+ armado.c_nombre}}</h2>

    <div class="navega">
        <mat-form-field>
            <input matInput placeholder="Buscar" (keyup)="applyFilterConfig($event.target.value)">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
    <table mat-table [dataSource]="tablaconfig" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="c_codigo">
            <th mat-header-cell *matHeaderCellDef color="error" mat-sort-header> Código </th>
            <td mat-cell *matCellDef="let element"> {{element.c_codigo}} </td>
        </ng-container>
        <ng-container matColumnDef="c_nombre">
            <th mat-header-cell *matHeaderCellDef color="error" mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.c_nombre}} </td>
        </ng-container>
        <ng-container matColumnDef="c_unidad">
            <th mat-header-cell *matHeaderCellDef color="error" mat-sort-header> Unidad </th>
            <td mat-cell *matCellDef="let element"> {{element.c_unidadmedida}} </td>
        </ng-container>
        <ng-container matColumnDef="n_cantidad">
            <th mat-header-cell *matHeaderCellDef color="error" mat-sort-header> Cantidad </th>
            <td mat-cell *matCellDef="let element">
                <input matInput placeholder="Cantidad" name="n_cantidad" #n_cantidad="ngModel"
                    [(ngModel)]="element.n_cantidad" (keypress)="keyPress($event,element)"
                    (focus)="onFocus(element)">
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsConfig"></tr>
        <ng-template let-row matRowDef cdkVirtualFor [matRowDefColumns]="displayedColumnsConfig">
            <tr mat-row></tr>
        </ng-template>
    </table>
    <mat-paginator [pageSizeOptions]="[10,20,50,100]" showFirstLastButtons></mat-paginator>
</mat-card>
