<h2 mat-dialog-title>Edición {{actividad.c_descripcion}}</h2>
<form class="example-container" #newForm="ngForm" (ngSubmit)="guardar(newForm)">
  <div mat-dialog-content class="contenedor">
    <mat-form-field>
      <mat-select placeholder="Fases" [(value)]="actividad.n_idgen_fase" required>
        <mat-option *ngFor="let fase of fases" [value]="fase.n_idgen_fase" (click)='selectFase(fase.n_idgen_fase)'>
          {{fase.c_nombre}}
        </mat-option>
      </mat-select>
      <mat-hint class="error" *ngIf="actividad.n_idgen_fase==0">Es requerido</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Nombre" name="c_valor" #c_valor="ngModel"
        [(ngModel)]="actividad.c_valor"  required />
        <mat-hint class="error" *ngIf="!actividad.c_valor">Es requerido</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Descripción" name="c_descripcion" #c_descripcion="ngModel"
        [(ngModel)]="actividad.c_descripcion"  required />
        <mat-hint class="error" *ngIf="!actividad.c_descripcion">Es requerido</mat-hint>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>

    <button mat-button type="submit" cdkFocusInitial
      [disabled]="!newForm.form.valid || actividad.n_idgen_fase==0">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>
  </div>
</form>